{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Collie</h1>
    <p class="lead">Collie is a web app developed to monitor and control the network flow of IB-714 all the time.</p>
    <p><a href="https://ntust-ece.azurewebsites.net/collie/" class="btn btn-primary btn-large">View Status &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Policy</h2>
        <p>
            Collie checks the network flow of IB-714 every 5 minutes, and it may cut-off the wifi if network flow reaches the limitation. 
        </p>
        <p><a class="btn btn-default" href="http://ntust-ece.azurewebsites.net/about/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Python</h2>
        <p>Python can be easy to pick up whether you're a first time programmer or you're experienced with other languages and it is developed under an OSI-approved open source license, making it freely usable and distributable</p>
        <p><a class="btn btn-default" href="https://www.python.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make It Better</h2>
        <p>
            You can view the source code of Collie on github and join this program by contacting the author.
            Anyone of NTUST-ECE is welcomed!
        </p>
        <p><a class="btn btn-default" href="https://github.com/sonic1sonic/Collie">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
